body {
    display: flex;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    background-color: whitesmoke;
}

.opacityGeneral {
    opacity: 0.4;
}


.opacityModal {
    opacity: 1;
}



.principal {
    height: 280px;
    width: 1100px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 3px;

}

.encabezado {
    background-color: #435d7d;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.titulo {
    font-size: 20px;
}

.titulo span {
    font-weight: bold;
}


.botonAgregar {
    background-color: #5cb85c;
    height: 35px;
    width: 170px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
}


.botonAgregar:hover {
    background-color: #4f9c4f;
}


.contenedorTabla {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.contenedorBusqueda {
   display: flex;
justify-content: flex-end;
padding: 20px;
}

.cajaBusqueda {
    padding: 10px 10px;
  margin: 8px 0;
    border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}




table {
    color: #566787;

}

table th {
    font-size: 12px;
    text-align: left;
}



td:hover  { 
    background-color:  #ecf0f1 
}


.contenedorIconoEditar {
    display: inline-block;
}

.contenedorIconoBorrar {
    display: inline-block;
}

#editIcon {
color: #ffc107;
cursor: pointer;
}

#deleteIcon {
    color:#f44336;
    cursor: pointer;
    margin-left: 10px;
}


.estiloModal {
    background-color: white;
    width: 350px;
    height: 450px;
    position: absolute;
    top: 30px;
    left: 500px;
    color: #566787;
    }

.tituloModal {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    
}

.tituloModal button {
    background-color: white;
    border: none;
    font-size: 15px;
    color: gray;
}



.tituloModal button:hover {
    color: darkslategrey;
}


form {
    padding: 15px;
}

.nomostrar {
    display: none;
}

#modalBorrar {
    background-color: white;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 30px;
    left: 500px;
    color: #566787;
    padding-left: 5px;
}

.mensajeBorrar {
   font-size: 12px; 
}

.alertaBorrar {
    color: #8a6d3b;
    font-size: 10px;
 }


.tituloFormulario {
    font-size: 12px;
}

.botonesFormulario {
    display: flex;
    justify-content: flex-end;
    
}



.boton {
    font-family: 'Varela Round', sans-serif;
    margin-left: 10px;
    padding: 10px;
}

hr {
    border-top: 0.5px solid #ecf0f1;
}

.estiloError {
    color: red;
    font-size: 10px;
}